// Scroll bar 
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #eaecf5;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c6c6c7;
}

*::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

*::-webkit-scrollbar-thumb:window-inactive {
    background: #c6c6c7;
}

// End-  Scroll bar
.content-head-block {
    display: flex;
    margin-bottom: 1rem;
    .content-head-left {
        text-align: left;
        flex: 1 0 0;
    }
    .content-head-right {
        text-align: right;
    }
}

// card component
.MuiCard-root.theme-card {
    overflow: initial !important;
    .card-icon-left {
        float: left;
        background-color: $primary;
        padding: 1.5rem;
        margin-top: -1.25rem;
        margin-right: 1rem;
        margin-left: 1rem;
        border-radius: 2px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(233, 30, 99, .4);
        .MuiSvgIcon-root {
            color: white;
            font-size: 2.25rem;
        }
    }
}

.MuiPaper-rounded {
    border-radius: 2px !important;
}

// avatar styles
.fileinput {
    display: inline-block;
    margin-bottom: 9px;
    &.text-center {
        text-align: center;
    }
    .thumbnail {
        display: inline-block;
        margin-bottom: 10px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        max-width: 250px;
        box-shadow: 0 10px 30px -12px rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
        &.img-circle {
            border-radius: 50%;
            max-width: 100px;
        }
        &>img {
            max-height: 100%;
            width: 100%;
            height: auto;
            margin-right: auto;
            margin-left: auto;
            display: block;
            max-width: 100%;
        }
    }
    input[type=file] {
        display: none;
    }
}

.thumbnail {
    border: 0;
    border-radius: 4px;
    padding: 0;
}